*.log
__pycache__/
*.pyc
.vscode/settings.json
event*.xlsx
event*.json
event*.csv
perdiem*.csv
categories.csv
*model*.p
*vectorizer*.p
*tokenizer*.p
__pycache__/*
*.out
cosmos-backup-*.json
*.ipynb_*
*checkpoint.ipynb*
df_*.p
notebooks/*localities.json
notebooks/calheatmap.png
