# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

pandas
plotly
azure-cosmos
azure-storage-blob
flask
Flask-Caching
jupyter
requests
nltk
beautifulsoup4
lxml
python-Levenshtein
matplotlib
numpy
sklearn
seaborn
keras
geopy
country_converter