# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

pandas
plotly
azure-cosmos
azure-storage-blob
Flask-Caching
requests
nltk
beautifulsoup4
python-Levenshtein