{% extends "base.html" %}
{% block content %}
  <div class="container" style="padding-top:30px;">
    <h3>Training a Text Classification Model</h3>
    <p>In order to track trends in technology and security conferences and identify potentially disruptive technologies, we needed to ensure that most events had categories. However many of the events only had names and descriptions, while a smaller percentage had categories. To overcome this, I used a machine learning model to infer categories of conference events based on conference titles and descriptions. The current model uses Term Frequency-Inverse Document Frequency (TF-IDF) and Logistic Regression with 50 possible labels, trained on the events that had them. This allowed me to augment the data with additional categories.
    </p>
    <p><img src="{{ url_for('static', filename='tfidf-categorizer-histogram.png') }}" class="img-fluid" alt="histogram"></p>
    <p>While there were many categories in the existing labels, I opted to consolidate some of them and then select only the top 50 to attempt to label. This allowed for better control of the accuracy of the model, given the difficulty of classifying in multi-label data sets such as this one. Further, some events and their descriptions could fit into multiple categories. I opted to only include the highest confidence predicted labels for augmenting the dataset, in order to reduce the chance of adding noise to the trend analysis. The confusion matrix below shows the ability of the model to make correct classifications, and which labels are frequently confused. The deployed model can also be tested on this <a href="../classifier">page</a>.
    </p>
    <p><img src="{{ url_for('static', filename='tfidf-categorizer-confusion.png') }}" class="img-fluid" alt="histogram"></p>
  </div>
{% endblock %}
{% block javascript %}
  <script>document.getElementById("about-button").className += " active";</script>
{% endblock %}