{% extends "base.html" %}
{% block content %}
  <div class="container" style="padding-top:30px;">
    <h1 style="text-align:center;padding-top:50px;vertical-align:middle">Technology Conference Trends and Analysis</h1>
    <p style="padding-top:20px;">This project also seeks to help visualize trends in technology and security conferences and identify potentially disruptive technologies. Based on the data available, we can create several visualizations and trend analyses to show how technology adoption at different conferences has changed over time and over different geographic regions.
    </p>
  </div>
  <hr>
  </div>
  <div class="jumbotron1">
    <div class="container">
      <div class="row" style="text-align:center;padding-top:50px;vertical-align:middle">
      <div class="col-xs-6 col-md-4" style="vertical-align:middle;padding-top:15px;">
        <a href="../categories" class="btn btn-primary btn-lg btn-block" role="button">Category Distribution</a>
        <p style="vertical-align:middle;padding-top:15px;">Explore the data using different categorical features.</p>
      </div>
      <div class="col-xs-6 col-md-4" style="vertical-align:middle;padding-top:15px;">
        <a href="../yeartrends" class="btn btn-primary btn-lg btn-block" role="button">Categories Over Time</a>
        <p style="vertical-align:middle;padding-top:15px;">Explore how different technology topics have increased adoption over time.</p>
      </div>
      <div class="col-xs-6 col-md-4" style="vertical-align:middle;padding-top:15px;">
        <a href="../daymonthtrends" class="btn btn-primary btn-lg btn-block" role="button">Scheduling Trends</a>
        <p style="vertical-align:middle;padding-top:15px;">Explore how technology conferences are distributed throughout the year.</p>
      </div>
      <div class="col-xs-6 col-md-4" style="vertical-align:middle;padding-top:15px;">
        <a href="../geotrends" class="btn btn-primary btn-lg btn-block" role="button">Geographic Trends</a>
        <p style="vertical-align:middle;padding-top:15px;">Explore how technology conferences are distributed geographically.</p>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
  <script>document.getElementById("trends-button").className += " active";</script>
{% endblock %}